name: Android CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Add mock google services json file
      run:  cp mock-google-services.json app/google-services.json
    - name: Run unit tests
      run: ./gradlew testDebugUnitTest
