name: Android CI

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      ANDROID_PUBLISHER_CREDENTIALS: ${{ secrets.ANDROID_PUBLISHER_CREDENTIALS }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Set up JDK 11
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 11
      - name: Add mock google services json file
        run: cp mock-google-services.json app/google-services.json
      - name: Run unit tests
        run: ./gradlew testDebugUnitTest
